@use "./generalStyles.scss" as *;

//navigation bar styles
nav {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  .nameLogo {
    padding: 16px;
  }

  .navSections {
    .dropdown {
      padding-left: 20px;
      position: relative;
      display: inline-block;
      .dropdownBtn {
        //dropdown button style
        background-color: white;
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
      }
      .services {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        a {
          &:hover {
            background-color: #ddd;
          }
        }
      }
      &:hover .services {
        display: block;
      }
      &:hover .dropdownBtn {
        background-color: gray;
      }
    }
  }

  // general nav bar styles
  a {
    text-decoration: none;
    color: rgb(133, 128, 128);
  }
}

.serviceCards {
  background-color: red;
}
